<div class="container-fluid mt-1 pt-4 bg-dark" id="pys">
    <div class="row justify-content-center">
        <h2 class="text-center pb-3 h2SimpleWhite">Proyectos</h2>
        <div class="col-xl-4 col-lg-6 col-xs-12 d-flex p-3 pe-0 pt-0 justify-content-center">
            <div class="card text-center">
                <div class="card-header">
                    {{miPortfolio.proyectos.py1.tools}}
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{miPortfolio.proyectos.py1.name}}</h5>
                    <p class="card-text">{{miPortfolio.proyectos.py1.description}}</p>
                    <a href="https://github.com/user/presentation" class="btn btn-success btnAncho">Go!</a>
                </div>
                <div class="card-footer text-muted">
                    {{miPortfolio.proyectos.py1.fetch}}
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-6 col-xs-12 d-flex p-3 pe-0 pt-0 justify-content-center">
            <div class="card text-center">
                <div class="card-header">
                    {{miPortfolio.proyectos.py2.tools}}
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{miPortfolio.proyectos.py2.name}}</h5>
                    <p class="card-text">{{miPortfolio.proyectos.py2.description}}</p>
                    <a href="https://github.com/user/juego" class="btn btn-success btnAncho">Go!</a>
                </div>
                <div class="card-footer text-muted">
                    {{miPortfolio.proyectos.py2.fetch}}
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-6 col-xs-12 d-flex p-3 pe-0 pt-0 justify-content-center">
            <div class="card text-center">
                <div class="card-header">
                    {{miPortfolio.proyectos.py3.tools}}
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{miPortfolio.proyectos.py3.name}}</h5>
                    <p class="card-text">{{miPortfolio.proyectos.py3.description}}.</p>
                    <a href="#" class="btn btn-success btnAncho">Go!</a>
                </div>
                <div class="card-footer text-muted">
                    {{miPortfolio.proyectos.py3.fetch}}
                </div>
            </div>
        </div>
    </div>
</div>