<div class="container-fluid mt-1 pt-4 bg-dark" id="experiencia">
    <div class="row justify-content-center">
        <h2 class="text-center pb-3 h2SimpleWhite">Experiencia</h2>
        <div class="col-xl-8 col-lg-6 col-xs-12 p-3 pt-0">
            <div class="alert bg-success shadow-int">
                <h4 class="negrita">{{miPortfolio.work.work1.position}}</h4>
                <p>{{miPortfolio.work.work1.description}}
                </p>
            </div>
        </div>
        <div class="col-xl-4 col-lg-6 col-xs-12 d-flex p-3 ps-0 pt-0 justify-content-center text-white-50">
            <div class="alert ps-0">
                <ul class="ps-0">
                    <li>{{miPortfolio.work.work1.fetchInicio}}</li>
                    <li class="text-center">-</li>
                    <li>{{miPortfolio.work.work1.fetchFin}}</li>
                </ul>
            </div>
        </div>
        <div class="col-xl-8 col-lg-6 col-xs-12 p-3 pt-0">
            <div class="alert bg-success shadow-int">
                <h4 class="negrita">{{miPortfolio.work.work2.position}}</h4>
                <p>{{miPortfolio.work.work2.description}}
                </p>
            </div>
        </div>
        <div class="col-xl-4 col-lg-6 col-xs-12 d-flex p-3 ps-0 pt-0 justify-content-center text-white-50">
            <div class="alert ps-0">
                <ul class="ps-0">
                    <li>{{miPortfolio.work.work2.fetchInicio}}</li>
                    <li class="text-center">-</li>
                    <li>{{miPortfolio.work.work2.fetchFin}}</li>
                </ul>
            </div>
        </div>
        <div class="col-xl-8 col-lg-6 col-xs-12 p-3 pt-0">
            <div class="alert bg-success shadow-int">
                <h4 class="negrita">{{miPortfolio.work.work3.position}}</h4>
                <p>{{miPortfolio.work.work3.description}}
                </p>
            </div>
        </div>
        <div class="col-xl-4 col-lg-6 col-xs-12 d-flex p-3 ps-0 pt-0 justify-content-center text-white-50">
            <div class="alert ps-0">
                <ul class="ps-0">
                    <li>{{miPortfolio.work.work3.fetchInicio}}</li>
                    <li class="text-center">-</li>
                    <li>{{miPortfolio.work.work3.fetchFin}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>