.h2SimpleWhite {
	color: white;
	text-shadow: none;
}

.shadow-int {
	box-shadow: inset -6px -6px 10px #7dd4a4;
}

#experiencia {
	padding-left: 10%;
	padding-right: 10%;
}

.negrita {
	font-weight: 600;
    color: #0b1c43;
}

li{
	text-align: center;
	font-size: 0.9em;
}

ul {
	list-style-type: none;
	font-family: "Noto Sans", sans-serif;
	font-size: 1.4rem;
}

#expeBorde {
	border: none;
}

.neu{
	border-radius: 12px;
	background: #4f9457;
	box-shadow:  2px 2px 2px #c9f5cf,
				 -2px -2px 2px #c9f5cf;
}