<div class="container-fluid mt-1 pt-4 bg-dark" id="experiencia">
    <div class="row justify-content-center">
        <h2 class="text-center pb-3 h2SimpleWhite">Experiencia</h2>
        <div class="col-xl-8 col-lg-6 col-xs-12 p-3 pt-0">
            <div class="alert bg-success shadow-int">
                <h4 class="negrita">Work 1</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum voluptas distinctio, odio et
                    quidem sint aliquam necessitatibus provident molestias culpa.sint aliquam necessitatibus
                    provident molestias culpa.
                </p>
            </div>
        </div>
        <div class="col-xl-4 col-lg-6 col-xs-12 d-flex p-3 ps-0 pt-0 justify-content-center text-white-50">
            <div class="alert ps-0">
                <ul class="ps-0">
                    <li>Junio 2021</li>
                    <li class="text-center">-</li>
                    <li>Agosto 2021</li>
                </ul>
            </div>
        </div>
        <div class="col-xl-8 col-lg-6 col-xs-12 p-3 pt-0">
            <div class="alert bg-success shadow-int">
                <h4 class="negrita">Work 2</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum voluptas distinctio, odio et
                    quidem sint aliquam necessitatibus provident molestias culpa.sint aliquam necessitatibus
                    provident molestias culpa.
                </p>
            </div>
        </div>
        <div class="col-xl-4 col-lg-6 col-xs-12 d-flex p-3 ps-0 pt-0 justify-content-center text-white-50">
            <div class="alert ps-0">
                <ul class="ps-0">
                    <li>Febrero 2020</li>
                    <li class="text-center">-</li>
                    <li>Agosto 2020</li>
                </ul>
            </div>
        </div>
        <div class="col-xl-8 col-lg-6 col-xs-12 p-3 pt-0">
            <div class="alert bg-success shadow-int">
                <h4 class="negrita">Work 3</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum voluptas distinctio, odio et
                    quidem sint aliquam necessitatibus provident molestias culpa.sint aliquam necessitatibus
                    provident molestias culpa.
                </p>
            </div>
        </div>
        <div class="col-xl-4 col-lg-6 col-xs-12 d-flex p-3 ps-0 pt-0 justify-content-center text-white-50">
            <div class="alert ps-0">
                <ul class="ps-0">
                    <li>Octubre 2019</li>
                    <li class="text-center">-</li>
                    <li>Enero 2020</li>
                </ul>
            </div>
        </div>
    </div>
</div>