.negrita {
	font-weight: 600;
}

#education {
	padding-left: 10%;
	padding-right: 10%;
}

.textBlue {
	color: #0b1c43;
}

.bg-blue {
	background-color: #0b1c43;
}

.shadow-int {
	box-shadow: inset 6px -6px 10px rgba(37, 37, 37, 0.616);
}

li{
	text-align: center;
	font-size: 0.9em;
}

ul {
	list-style-type: none;
	font-family: "Noto Sans", sans-serif;
	font-size: 1.4rem;
}

#eduBorde{
	border: none;
}


.neu{
	border-radius: 12px;
	background: #dbdfcf;
	box-shadow:  2px 2px 2px #b6bf95,
				 -2px -2px 2px #b6bf95;
}