<div class="container-fluid mt-1 pt-4" id="education">
    <div class="row justify-content-center">
        <h2 class="text-center pb-3 h2SimpleWhite">Educación</h2>
        <div class="col-12 m-1">
            <button type="button" class="btn btn-primary" routerLink="/nuevaedu" *ngIf="isLogged">Agregar Educación</button>
        </div>
    </div>
    <div *ngFor="let Educacion of educacion" class="card m-4 mb-3 mt-2 neu">
        <div class="row g-0">
        <div class="col-md-8">
            <div class="card-body">
            <h5 class="card-title">{{Educacion.nombreE}}</h5>
            <p class="card-text">{{Educacion.descripcionE}}</p>
            </div>
        </div>
        <div class="col-md-4 d-flex align-items-center">
            <p class="card-text text-center">
                <small class="text-muted">{{Educacion.fetchInicio}}</small>
                <small class="text-muted"> - </small>
                <small class="text-muted">{{Educacion.fetchFin}}</small>
            </p>
        </div>
        </div>
        <div class="col m-2" *ngIf="isLogged">
            <button class="btn btn-info m2" routerLink="/editedu/{{Educacion.id}}"><i class="bi bi-pencil-square"></i></button>
            <button class="btn btn-danger text-black m-2" (click)="delete(Educacion.id)"><i class="bi bi-trash3-fill"></i></button>
        </div>
    </div>
</div>