<div class="container">
    <div class="row">
        <div class="col">
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nombreE">Nombre</label>
                    <input type="text" class="form-control" id="nombreE" name="nombreE" [(ngModel)]="nombreE" required>
                </div>
                <div class="form-group">
                    <label for="descripcionE">Descripcion</label>
                    <input type="text" class="form-control" id="descripcionE" name="descripcionE" [(ngModel)]="descripcionE" required>
                </div>
                <div class="form-group">
                    <label for="fetchInicio">Fecha Inicio</label>
                    <input type="text" class="form-control" id="fetchInicio" name="fetchInicio" [(ngModel)]="fetchInicio" required>
                </div>
                <div class="form-group">
                    <label for="fetchFin">Fecha Fin</label>
                    <input type="text" class="form-control" id="fetchFin" name="fetchFin" [(ngModel)]="fetchFin" required>
                </div>
                <button class="btn btn-success">
                    Agregar Nueva Educación
                </button>
            </form>
        </div>
    </div>
</div>

