.imagen-auto {
	height: auto;
}

.h2SimpleWhite {
	color: white;
	text-shadow: none;
}
.negrita {
	font-weight: 600;
}

ul {
	list-style-type: none;
	font-family: "Noto Sans", sans-serif;
	font-size: 1.4rem;
}

.btnAncho {
	width: 100%;
}

