<div class="container-fluid mt-1 pt-4 pb-4 bg-dark" id="skills">
    <h2 class="text-center pb-3 h2SimpleWhite">Skills</h2>
    <div class="row justify-content-center pb-2">
        <div class="col-xl-6 col-lg-6 col-xs-12 d-flex me-5 contenedor">
            <div class="barra" id="barraHtml">
                <div class="texto">{{miPortfolio.skills[0]}}</div>
            </div>    
        </div>
        <div class="col-xl-6 col-lg-6 col-xs-12 d-flex ms-5 contenedor">
            <div class="barra" id="barraEquipo">
                <div class="texto">{{miPortfolio.skills[1]}}</div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center pb-2">
        <div class="col-xl-6 col-lg-6 col-xs-12 d-flex me-5 contenedor">
            <div class="barra" id="barraCss">
                <div class="texto">{{miPortfolio.skills[2]}}</div>
            </div>    
        </div>
        <div class="col-xl-6 col-lg-6 col-xs-12 d-flex ms-5 contenedor">
            <div class="barra" id="barraSol">
                <div class="texto">{{miPortfolio.skills[3]}}</div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center pb-2">
        <div class="col-xl-6 col-lg-6 col-xs-12 d-flex me-5 contenedor">
            <div class="barra" id="barraJS">
                <div class="texto">{{miPortfolio.skills[4]}}</div>
            </div>    
        </div>
        <div class="col-xl-6 col-lg-6 col-xs-12 d-flex ms-5 contenedor">
            <div class="barra" id="barraComunic">
                <div class="texto">{{miPortfolio.skills[5]}}</div>
            </div>
        </div>
    </div>
</div>