<nav class="navbar navbar-light bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand text-white" href="#">
        <img src="miPortfolio.ArgPrograma.logo" alt="Logo Argentina Programa" class="d-inline-block align-text-center" id="ArgPrograma">
        ArgPrograma.nombre
      </a>
      <div class="">
          <a href="https://slack.com/user" class="link-success" title="Slack" target="_blank"> <i class="bi bi-slack"></i></a>
          <a href="https://github.com/user" class="link-success" title="GitHub" target="_blanck"> <i class="bi bi-github"></i></a>
          <a href="https://linkedin.com/user" class="link-success" title="Linkedin" target="_blanck"> <i class="bi bi-linkedin"></i></a>
          <a href="http://localhost:4200/Login" class="btn btn-sm btn-outline-secondary" type="button">Login</a>
      </div>
    </div>
</nav>
