<nav class="navbar navbar-light bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand text-white" href="#">
        <img src="https://argentinaprograma.inti.gob.ar/pluginfile.php/1/theme_moove/logo/1643935033/APLogo-20-20.png" alt="Logo Argentina Programa" class="d-inline-block align-text-center" id="ArgPrograma">
        #YoProgramo
      </a>
      <div class="">
          <!--
          <a href="https://slack.com/user" class="link-success" title="Slack" target="_blank"> <i class="bi bi-slack"></i></a>
          -->
          <a href="https://github.com/cecing" class="link-success" title="GitHub" target="_blanck"> <i class="bi bi-github"></i></a>
          <a href="https://www.linkedin.com/in/mceciliaopel" class="link-success" title="Linkedin" target="_blanck"> <i class="bi bi-linkedin"></i></a>
          <button class="btn btn-sm btn-outline-secondary" type="button" (click)="login()" *ngIf="!isLogged">Login</button>
          <button class="btn btn-sm btn-outline-secondary" type="button" (click)="onLogOut()" *ngIf="isLogged">Logout</button>
      </div>
    </div>
</nav>
