<footer class="container-fluid mt-1 mb-0 bg-dark" id="footer">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-6 col-md-6 col-12 p-4">
                <p class="h2SimpleWhite">Cecilia © 2022</p>
            </div>
            <div class="col-lg-6 col-md-6 col-12" id="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d16971023.624876663!2d-70.25752686016762!3d-34.48886405583783!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95eb72d8e8d8050f%3A0x7662e3714a79bafb!2sCoronel%20Suarez%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1659090360754!5m2!1ses-419!2sar" height="100em" width="200em" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
</footer>