<app-navbar></app-navbar>

<app-header></app-header>

<app-about></app-about>

<app-experiencia></app-experiencia>

<app-education></app-education>

<div class="container-fluid mt-1 pt-4 pb-4 bg-dark" id="skills">
    <h2 class="text-center pb-3 h2SimpleWhite">Skills</h2>
    <div class="row justify-content-center pb-2">
        <div class="col-xl-6 col-lg-6 col-xs-12 d-flex me-5 contenedor">
            <div class="barra" id="barraHtml">
                <div class="texto">HTML5</div>
            </div>    
        </div>
        <div class="col-xl-6 col-lg-6 col-xs-12 d-flex ms-5 contenedor">
            <div class="barra" id="barraEquipo">
                <div class="texto">Trabajo en Equipo</div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center pb-2">
        <div class="col-xl-6 col-lg-6 col-xs-12 d-flex me-5 contenedor">
            <div class="barra" id="barraCss">
                <div class="texto">CSS</div>
            </div>    
        </div>
        <div class="col-xl-6 col-lg-6 col-xs-12 d-flex ms-5 contenedor">
            <div class="barra" id="barraSol">
                <div class="texto">Resolución de Problemas</div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center pb-2">
        <div class="col-xl-6 col-lg-6 col-xs-12 d-flex me-5 contenedor">
            <div class="barra" id="barraJS">
                <div class="texto">JavaScript</div>
            </div>    
        </div>
        <div class="col-xl-6 col-lg-6 col-xs-12 d-flex ms-5 contenedor">
            <div class="barra" id="barraComunic">
                <div class="texto">Comunicación</div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt-1 pt-4 bg-dark" id="pys">
    <div class="row justify-content-center">
        <h2 class="text-center pb-3 h2SimpleWhite">Proyectos</h2>
        <div class="col-xl-4 col-lg-6 col-xs-12 d-flex p-3 pe-0 pt-0 justify-content-center">
            <div class="card text-center">
                <div class="card-header">
                    HTML, CSS, reveal.js
                </div>
                <div class="card-body">
                    <h5 class="card-title">Presentación</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti rerum esse repudiandae quod aperiam nesciunt.</p>
                    <a href="https://github.com/user/presentation" class="btn btn-success btnAncho">Go!</a>
                </div>
                <div class="card-footer text-muted">
                Diciembre 2021
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-6 col-xs-12 d-flex p-3 pe-0 pt-0 justify-content-center">
            <div class="card text-center">
                <div class="card-header">
                    HTML, CSS, JS
                </div>
                <div class="card-body">
                    <h5 class="card-title">Mini Game</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti rerum esse repudiandae quod aperiam nesciunt.</p>
                    <a href="https://github.com/user/juego" class="btn btn-success btnAncho">Go!</a>
                </div>
                <div class="card-footer text-muted">
                Enero 2022
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-6 col-xs-12 d-flex p-3 pe-0 pt-0 justify-content-center">
            <div class="card text-center">
                <div class="card-header">
                    HTML, CSS, bootstrap, JS, ...
                </div>
                <div class="card-body">
                    <h5 class="card-title">Portfolio</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti rerum esse repudiandae quod aperiam nesciunt.</p>
                    <a href="#" class="btn btn-success btnAncho">Go!</a>
                </div>
                <div class="card-footer text-muted">
                Agosto 2022
                </div>
            </div>
        </div>
    </div>
</div>
