<nav class="navbar navbar-light bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand text-white" href="#">
        <img src="https://argentinaprograma.inti.gob.ar/pluginfile.php/1/theme_moove/logo/1643935033/APLogo-20-20.png" alt="Logo Argentina Programa" width="60" height="30" class="d-inline-block align-text-top">
        #YoProgramo
      </a>
      <div class="">
          <a href="https://slack.com/user" class="link-success" title="Slack" target="_blank"> <i class="bi bi-slack"></i></a>
          <a href="https://github.com/user" class="link-success" title="GitHub" target="_blanck"> <i class="bi bi-github"></i></a>
          <a href="https://linkedin.com/user" class="link-success" title="Linkedin" target="_blanck"> <i class="bi bi-linkedin"></i></a>
          <a href="contacto.html" class="btn btn-outline-success me-2 ms-2" type="button">Contacto</a>
          <button class="btn btn-sm btn-outline-secondary" type="button">Login</button>
      </div>
    </div>
</nav>

<header class="container-fluid header">
  <div class="row">
      <div class="col">
          <h1 class="text-center p-5 mt-5">Cecilia</h1>
          <h2 class="text-center">Full Stack Developer</h2>
      </div>
  </div>
</header>

<div class="container mt-4" id="about">
    <h2 class="text-center">About me</h2>
    <div class="row justify-content-center">
        <div class="col-xl-4 col-lg-6 col-xs-12 p-2 d-flex justify-content-center">
            <img src="images/profile.jpg" class="imagen align-items-center" />
        </div>
        <div class="col-xl-8 col-lg-6 col-xs-12 p-2 justify-content-center">
            <div class="alert bg-dark text-white shadow">
                <h3>Cecilia</h3>
                <h4>Full Stack Developer Jr.</h4>
                <p>Soy Ingeniera Industrial y comencé a formarme en el mundo del Desarrollo Web por hobbie.</p>
                <p>Genero este sitio como parte de mi ruta de aprendizaje para contar con un espacio personal de creación, desarrollo, mejora y ante todo de vinculación con el sector, tanto compañeros, colegas y organizaciones.</p>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt-1 pt-4 bg-dark" id="experiencia">
    <div class="row justify-content-center">
        <h2 class="text-center pb-3 h2SimpleWhite">Experiencia</h2>
        <div class="col-xl-8 col-lg-6 col-xs-12 p-3 pt-0">
            <div class="alert bg-success shadow-int">
                <h4 class="negrita">Work 1</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum voluptas distinctio, odio et
                    quidem sint aliquam necessitatibus provident molestias culpa.sint aliquam necessitatibus
                    provident molestias culpa.
                </p>
            </div>
        </div>
        <div class="col-xl-4 col-lg-6 col-xs-12 d-flex p-3 ps-0 pt-0 justify-content-center text-white-50">
            <div class="alert ps-0">
                <ul class="ps-0">
                    <li>Junio 2021</li>
                    <li class="text-center">-</li>
                    <li>Agosto 2021</li>
                </ul>
            </div>
        </div>
        <div class="col-xl-8 col-lg-6 col-xs-12 p-3 pt-0">
            <div class="alert bg-success shadow-int">
                <h4 class="negrita">Work 2</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum voluptas distinctio, odio et
                    quidem sint aliquam necessitatibus provident molestias culpa.sint aliquam necessitatibus
                    provident molestias culpa.
                </p>
            </div>
        </div>
        <div class="col-xl-4 col-lg-6 col-xs-12 d-flex p-3 ps-0 pt-0 justify-content-center text-white-50">
            <div class="alert ps-0">
                <ul class="ps-0">
                    <li>Febrero 2020</li>
                    <li class="text-center">-</li>
                    <li>Agosto 2020</li>
                </ul>
            </div>
        </div>
        <div class="col-xl-8 col-lg-6 col-xs-12 p-3 pt-0">
            <div class="alert bg-success shadow-int">
                <h4 class="negrita">Work 3</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum voluptas distinctio, odio et
                    quidem sint aliquam necessitatibus provident molestias culpa.sint aliquam necessitatibus
                    provident molestias culpa.
                </p>
            </div>
        </div>
        <div class="col-xl-4 col-lg-6 col-xs-12 d-flex p-3 ps-0 pt-0 justify-content-center text-white-50">
            <div class="alert ps-0">
                <ul class="ps-0">
                    <li>Octubre 2019</li>
                    <li class="text-center">-</li>
                    <li>Enero 2020</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt-1 pt-4" id="education">
    <div class="row justify-content-center">
        <h2 class="text-center pb-3">Educación</h2>
        <div class="col-xl-4 col-lg-6 col-xs-12 d-flex p-3 pe-0 pt-0 justify-content-center textBlue">
            <div class="alert pe-0">
                <ul class="pe-0">
                    <li>Junio 2021</li>
                    <li class="text-center">-</li>
                    <li>Agosto 2021</li>
                </ul>
            </div>
        </div>
        <div class="col-xl-8 col-lg-6 col-xs-12 p-3 pt-0">
            <div class="alert bg-blue shadow-int text-success">
                <h4 class="negrita">Course 1</h4>
                <h4>Academy X</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
        </div>
        <div class="col-xl-4 col-lg-6 col-xs-12 d-flex p-3 pe-0 pt-0 justify-content-center textBlue">
            <div class="alert pe-0">
                <ul class="pe-0">
                    <li>Junio 2021</li>
                    <li class="text-center">-</li>
                    <li>Agosto 2021</li>
                </ul>
            </div>
        </div>
        <div class="col-xl-8 col-lg-6 col-xs-12 p-3 pt-0">
            <div class="alert bg-blue shadow-int text-success">
                <h4 class="negrita">Course 2</h4>
                <h4>Academy Y</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
        </div>
        <div class="col-xl-4 col-lg-6 col-xs-12 d-flex p-3 pe-0 pt-0 justify-content-center textBlue">
            <div class="alert pe-0">
                <ul class="pe-0">
                    <li>Junio 2021</li>
                    <li class="text-center">-</li>
                    <li>Agosto 2021</li>
                </ul>
            </div>
        </div>
        <div class="col-xl-8 col-lg-6 col-xs-12 p-3 pt-0">
            <div class="alert bg-blue shadow-int text-success">
                <h4 class="negrita">Course 3</h4>
                <h4>Academy Z</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
        </div>

    </div>
</div>

<div class="container-fluid mt-1 pt-4 pb-4 bg-dark" id="skills">
    <h2 class="text-center pb-3 h2SimpleWhite">Skills</h2>
    <div class="row justify-content-center pb-2">
        <div class="col-xl-6 col-lg-6 col-xs-12 d-flex me-5 contenedor">
            <div class="barra" id="barraHtml">
                <div class="texto">HTML5</div>
            </div>    
        </div>
        <div class="col-xl-6 col-lg-6 col-xs-12 d-flex ms-5 contenedor">
            <div class="barra" id="barraEquipo">
                <div class="texto">Trabajo en Equipo</div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center pb-2">
        <div class="col-xl-6 col-lg-6 col-xs-12 d-flex me-5 contenedor">
            <div class="barra" id="barraCss">
                <div class="texto">CSS</div>
            </div>    
        </div>
        <div class="col-xl-6 col-lg-6 col-xs-12 d-flex ms-5 contenedor">
            <div class="barra" id="barraSol">
                <div class="texto">Resolución de Problemas</div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center pb-2">
        <div class="col-xl-6 col-lg-6 col-xs-12 d-flex me-5 contenedor">
            <div class="barra" id="barraJS">
                <div class="texto">JavaScript</div>
            </div>    
        </div>
        <div class="col-xl-6 col-lg-6 col-xs-12 d-flex ms-5 contenedor">
            <div class="barra" id="barraComunic">
                <div class="texto">Comunicación</div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt-1 pt-4 bg-dark" id="pys">
    <div class="row justify-content-center">
        <h2 class="text-center pb-3 h2SimpleWhite">Proyectos</h2>
        <div class="col-xl-4 col-lg-6 col-xs-12 d-flex p-3 pe-0 pt-0 justify-content-center">
            <div class="card text-center">
                <div class="card-header">
                    HTML, CSS, reveal.js
                </div>
                <div class="card-body">
                    <h5 class="card-title">Presentación</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti rerum esse repudiandae quod aperiam nesciunt.</p>
                    <a href="https://github.com/user/presentation" class="btn btn-success btnAncho">Go!</a>
                </div>
                <div class="card-footer text-muted">
                Diciembre 2021
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-6 col-xs-12 d-flex p-3 pe-0 pt-0 justify-content-center">
            <div class="card text-center">
                <div class="card-header">
                    HTML, CSS, JS
                </div>
                <div class="card-body">
                    <h5 class="card-title">Mini Game</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti rerum esse repudiandae quod aperiam nesciunt.</p>
                    <a href="https://github.com/user/juego" class="btn btn-success btnAncho">Go!</a>
                </div>
                <div class="card-footer text-muted">
                Enero 2022
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-6 col-xs-12 d-flex p-3 pe-0 pt-0 justify-content-center">
            <div class="card text-center">
                <div class="card-header">
                    HTML, CSS, bootstrap, JS, ...
                </div>
                <div class="card-body">
                    <h5 class="card-title">Portfolio</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti rerum esse repudiandae quod aperiam nesciunt.</p>
                    <a href="#" class="btn btn-success btnAncho">Go!</a>
                </div>
                <div class="card-footer text-muted">
                Agosto 2022
                </div>
            </div>
        </div>
    </div>
</div>
