<div class="container mt-4" id="about">
    <h2 class="text-center">About me</h2>
    <div class="row justify-content-center">
        <div class="col-xl-4 col-lg-6 col-xs-12 p-2 d-flex justify-content-center">
            <img src="../../images/profile.jpg" class="imagen align-items-center" />
        </div>
        <div class="col-xl-8 col-lg-6 col-xs-12 p-2 justify-content-center">
            <div class="alert bg-dark text-white shadow">
                <h3>Cecilia</h3>
                <h4>Full Stack Developer Jr.</h4>
                <p>Soy Ingeniera Industrial y comencé a formarme en el mundo del Desarrollo Web por hobbie.</p>
                <p>Genero este sitio como parte de mi ruta de aprendizaje para contar con un espacio personal de creación, desarrollo, mejora y ante todo de vinculación con el sector, tanto compañeros, colegas y organizaciones.</p>
            </div>
        </div>
    </div>
</div>