.imagen {
	position: absolute;
	border-radius:100%;
	box-shadow:3px 3px 3px rgb(190, 252, 140);
	width: 6em;
	height: 6em;
	object-fit:fill;
	transition-duration: 1s;
	transition-timing-function: linear;
}

.imagen:hover {
	transform: scale(1.5);
	transition-duration: 500ms;
	opacity: 0.9;
  }

@media (min-width: 429px){
	#fotoPerfil{
		left: 14%; top: 75%;
	} 
}
@media (max-width: 428px){
	#fotoPerfil{
		left: 40%;
		top: 75%;
	}
	h2{
		margin-top: 10%;
	}
}

h3,h4{
	font-weight:bold;
	text-align: center;
	color: #0b1c43;
}